## Importing libraries

In [41]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

## Part 1 LAB

In [42]:
machine = pd.read_csv('./files_for_lab/machine2.txt',sep=" ")
machine

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [43]:
# H0: avg(new machine) =< avg(old machine)
# H1: avg(new machine) > avg(old machine)

In [44]:
avg = np.mean(machine['Old_machine'])
avg

43.230000000000004

In [46]:
st.ttest_1samp(c3_sample,avg)

Ttest_1sampResult(statistic=-5.04331853503833, pvalue=0.0006966376076759033)

In [47]:
print('p value (single tailed): ', 1- st.ttest_1samp(c3_sample,avg)[1]/2)

p value (single tailed):  0.9996516811961621

In [48]:
# We can't reject the H0

In [49]:
avg1 = np.mean(machine['New_machine'])
avg1

42.14

## Part 2 LAB

In [50]:
pokemon = pd.read_csv('./files_for_lab/pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [51]:
# H0: Attack = Defense
# H1: Attack != Defense

In [52]:
comparation = pokemon[['Attack', 'Defense']]
comparation

     Attack  Defense
0        49       49
1        62       63
2        82       83
3       100      123
4        52       43
..      ...      ...
795     100      150
796     160      110
797     110       60
798     160       60
799     110      120

[800 rows x 2 columns]

In [55]:
st.ttest_ind(comparation['Attack'],comparation['Defense'])

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012123980547321454)

In [ ]:
# Here we can reject the H0 hypothesis because p_value < 0.05

## Optional part